<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Assignment4</display-name>
	<welcome-file-list>
		<welcome-file>JSP/UserLogin.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>UserLoginServlet</display-name>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>com.nagarro.controller.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ImageUploadServlet</display-name>
		<servlet-name>ImageUploadServlet</servlet-name>
		<servlet-class>com.nagarro.controller.ImageUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageUploadServlet</servlet-name>
		<url-pattern>/ImageUpload</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteImageServlet</display-name>
		<servlet-name>DeleteImageServlet</servlet-name>
		<servlet-class>com.nagarro.controller.DeleteImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteImageServlet</servlet-name>
		<url-pattern>/DeleteImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditImageServlet</display-name>
		<servlet-name>EditImageServlet</servlet-name>
		<servlet-class>com.nagarro.controller.EditImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditImageServlet</servlet-name>
		<url-pattern>/EditImage</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AuthenticateUser</filter-name>
		<filter-class>com.nagarro.filter.AuthenticateUser</filter-class>
		<init-param>
			<param-name>test-param</param-name>
			<param-value>This parameter is for testing.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticateUser</filter-name>
		<url-pattern>/DeleteImage</url-pattern>
		<url-pattern>/EditImage</url-pattern>
		<url-pattern>/JSP/Home.jsp</url-pattern>
		<url-pattern>/ImageUpload</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ExistingUser</filter-name>
		<filter-class>com.nagarro.filter.ExistingUser</filter-class>
		<init-param>
			<param-name>test-param</param-name>
			<param-value>This parameter is for testing.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ExistingUser</filter-name>
		<url-pattern>/JSP/UserLogin.jsp</url-pattern>
		<url-pattern>/</url-pattern>
	</filter-mapping>
</web-app>